@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    width: 100%;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .pageLayout {
    @apply w-5/6 md:w-4/6 lg:w-5/6 mx-auto;
  }

  .inputStyling {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-secondary-100 focus:outline-none focus:border-secondary-100 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .labelStyling {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .headingOne {
    @apply lg:text-[2.7rem] text-[2rem] font-semibold leading-[3rem] lg:tracking-[2px] lg:leading-[3.5rem] lg:font-bold;
  }

  .headingTwo {
    @apply text-lg mb-7 font-medium leading-tight tracking-tight text-primary-100 md:text-xl dark:text-white;
  }

  .headerThree {
    @apply lg:text-[2rem]  text-[1.5rem] font-semibold leading-[3rem] lg:tracking-[2px] lg:leading-[3.5rem] lg:font-bold;
  }

  .listComponentContainer {
    @apply flex flex-col items-center justify-start  py-8 mx-auto min-h-[70vh] lg:py-0;
  }

  .ticketCard {
    @apply grid grid-cols-2 my-3 md:grid-cols-3 lg:grid-cols-5 gap-5 w-full hover:bg-secondary-500 hover:cursor-pointer  border border-gray-200 rounded-sm shadow-md p-[17px];
  }

  .smallComponentContainer {
    @apply flex flex-col items-center justify-center  py-8 mx-auto min-h-[90vh] lg:py-0;
  }

  .outlineButtonStyling {
    @apply py-2.5 text-sm cursor-pointer font-medium text-[16px] bg-transparent hover:bg-secondary-100 text-secondary-100  hover:text-white px-5 border border-secondary-100 hover:border-transparent rounded-2xl;
  }

  .normalButtonStyling {
    @apply py-3 text-sm rounded-2xl px-5 cursor-pointer bg-secondary-100 font-medium text-[16px] text-white outline-none;
  }

  .trStyling {
    @apply border-b transition duration-300 ease-in-out cursor-pointer hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600;
  }

  .profile {
    padding: 9px 15px;
    border-radius: 50%;
    border: none;
    background-color: rgb(10, 79, 182);
    color: white;
    font-weight: 600;
  }

  .formTicketContainer {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin: 20px 0px;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .formTicketContainer {
      grid-template-columns: auto;
      width: 100%;
    }
  }

  .footerContainer {
    width: 100%;
    padding: 20px;
    border-top: 1px solid black;
  }
  .rightsClass {
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .rightsClass a {
    text-decoration: none;
    color: rgb(10, 79, 182);
    font-weight: 600;
  }
}
